In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-23 16:49:13,22.0752,-159.3190,75.52,84,20,14.97
1,1,Qasigiannguit,GL,2021-10-23 16:49:13,68.8193,-51.1922,19.65,94,100,5.08
2,2,Kahului,US,2021-10-23 16:49:14,20.8947,-156.4700,75.85,80,40,9.22
3,3,Yerbogachen,RU,2021-10-23 16:49:14,61.2767,108.0108,32.40,79,94,11.39
4,4,Carnarvon,AU,2021-10-23 16:49:14,-24.8667,113.6333,69.87,68,0,17.27

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
## HEATMAP OF TEMPERATURE
#1. Assign the locations to an array of latitude and longitude pairs. #Add the locations array and the values from max temp
# from our city_data_df
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]

#2. Assign the weights variable to some value: *Get the maximum temperature
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]

#3. Assign a figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#4. Assign the heatmap_layer variable(function) to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, max_intensity=300, point_radius=4)

#5. Add the heatmap layer
fig.add_layer(heat_layer)

#6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                                
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-10-23 16:49:13,22.0752,-159.3190,75.52,84,20,14.97
2,2,Kahului,US,2021-10-23 16:49:14,20.8947,-156.4700,75.85,80,40,9.22
14,14,Olinda,BR,2021-10-23 16:49:19,-8.0089,-34.8553,83.93,70,40,12.66
20,20,Isangel,VU,2021-10-23 16:49:23,-19.5500,169.2667,75.16,87,85,10.98
26,26,Kavieng,PG,2021-10-23 16:49:24,-2.5744,150.7967,82.13,77,70,15.86
31,31,Faanui,PF,2021-10-23 16:49:28,-16.4833,-151.7500,77.14,75,87,3.24
35,35,Castro,BR,2021-10-23 16:49:32,-24.7911,-50.0119,76.15,44,87,9.73
37,37,Atuona,PF,2021-10-23 16:49:33,-9.8000,-139.0333,77.99,77,18,18.19
39,39,Lufilufi,WS,2021-10-23 16:49:33,-13.8745,-171.5986,76.78,70,100,16.69
40,40,Saint-Philippe,RE,2021-10-23 16:49:34,-21.3585,55.7679,76.59,81,79,11.99

In [12]:
preferred_cities_df.count()

City_ID       165
City          165
Country       163
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0            Kapaa      US     75.52  22.0752 -159.3190
2          Kahului      US     75.85  20.8947 -156.4700
14          Olinda      BR     83.93  -8.0089  -34.8553
20         Isangel      VU     75.16 -19.5500  169.2667
26         Kavieng      PG     82.13  -2.5744  150.7967
31          Faanui      PF     77.14 -16.4833 -151.7500
35          Castro      BR     76.15 -24.7911  -50.0119
37          Atuona      PF     77.99  -9.8000 -139.0333
39        Lufilufi      WS     76.78 -13.8745 -171.5986
40  Saint-Philippe      RE     76.59 -21.3585   55.7679

In [23]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Kahului,US,75.85,20.8947,-156.4700,Maui Seaside Hotel
14,Olinda,BR,83.93,-8.0089,-34.8553,Hotel Albergue de Olinda
20,Isangel,VU,75.16,-19.5500,169.2667,Tanna Lodge
26,Kavieng,PG,82.13,-2.5744,150.7967,Nusa Island Retreat
31,Faanui,PF,77.14,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
35,Castro,BR,76.15,-24.7911,-50.0119,CHACARA BAILLY
37,Atuona,PF,77.99,-9.8000,-139.0333,Villa Enata
39,Lufilufi,WS,76.78,-13.8745,-171.5986,Leuaina Beach Resort and Spa
40,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [25]:
# Add a heatmap of temperature for the vacation spots & add markers for each city 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacatino spots and pop-up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))